* {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Crimson Text';
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: beige;
}

#current-page {
    width: 100%;
    left: 0;
    top: 0;
}